.input {
  background-color: #ff00ff;
}

.item {
  background-color: #ffff00;
}

.header {
  background-color: #00ff00;
}

.footer {
  background-color: #00ffff;
}

.list {
  background-color: #0000ff;
}

.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.align_right {
  text-align: right;
}

.align_center {
  text-align: center;
}

.w_160 {
  width: 160px;
}

.w_200 {
  width: 200px;
}
